<!-- <div class="header"> Header
    <nav aria-label="Main Navigation">
        <ul class="nav nav-pills nav-fill" style="font-size: 1.25rem;">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Active</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Much longer nav1 link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link1</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" aria-disabled="true" tabindex="-1">Disabled</a>
            </li>
        </ul>
    </nav>
</div> -->

<header class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
        </a>
        <nav>
          <div>
              <a href="index.html">
                  <img src="../../../assets/img/tallerimg.png" class="logo" alt="LOGO" class="navbar-logo"/>
              </a>
          </div>
      </nav>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-2 text-secondary">Principal</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Caracteristicas</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Catalogo</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Certificados de calidad</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Quienes Somos</a></li>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
          <input type="buscar" class="form-control form-control-dark text-bg-dark" placeholder="Buscar..." aria-label="Buscar">
        </form>

        <div class="text-end">
          <button type="button" class="btn btn-outline-light me-2">Registrese</button>
          <button type="button" class="btn btn-warning">Entre con su Usuario</button>
        </div>
      </div>
    </div>
  </header>