<div class="header"> Header
    <nav aria-label="Main Navigation">
        <ul class="nav nav-pills nav-fill" style="font-size: 1.25rem;">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Active</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Much longer nav1 link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link1</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" aria-disabled="true" tabindex="-1">Disabled</a>
            </li>
        </ul>
    </nav>
</div>