<div class="container text-center">
  <div class="row">
    <div class="col">



<div class="content mt-4 px-4">
    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <div class="container-fluid">
            <div class="carousel-item active">
                <img src="../../../app/../assets/img/taller 2.jpeg"
                    class="d-block w-90" alt="Centro de Tecno Mecanica" style="height: 780px;">
            </div>

            <div class="carousel-item">
                <img src="../../../app/../assets/img/taller4.jpeg"
                    class="d-block w-90" alt="Centro de tecno" style="height: 780px;">
            </div>
            <div class="carousel-item">
                <img src="../../../app/../assets/img/Taller5.jpeg"
                    class="d-block w-90" alt="Taller de mecanica" style="height: 780px;">
            </div>
        </div>
        <button class="carousel-control-prev btn btn-Light btn-lg" type="button" data-bs-target="#carouselExample"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next btn btn-Light btn-lg" type="button" data-bs-target="#carouselExample"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    </div>
<div class="container mt-5"></div>
  <div class="row justify-content-center">
  <div class="col-md-4">
 


   <div class="card" style="width: 20rem;" >
    <img src="../../../assets/img/automotriz.jpeg" class="card-img-top" alt="..." style="height: 200px; object-fit: cover;">
    <div class="card-body">
      <p class="card-text">Calidad y Certificación.</p>
      <p>Contamos con certificaciones de calidad reconocidas, como la del Centro de Diagnóstico Automotor (CDA) o ICONTEC, Lo garantiza que Nuestra Empresa cumple con normas y estándares establecidos. Además, tener personal capacitado y certificado en diferentes áreas de mecánica aporta a la calidad del servicio.</p>
    </div>
  </div>
</div>
<div class="col-md-4">
  <div class="card" style="width: 20rem;">
    <img src="../../../assets/img/mecanica-automotriz-senati1800-x-1190_0.jpg" class="card-img-top" alt="..." style="height: 200px; object-fit: cover;">
    <div class="card-body">
      <p class="card-text">Atención al Cliente Personalizada.</p>
      <p>Ofrecemos un servicio al cliente excepcional, donde cada cliente es tratado de manera única y se le brinda asesoría personalizada. Esto incluye comunicación clara sobre los servicios necesarios, precios y tiempos de reparación.</p>
    
  </div>
</div>
</div>
<div class="col-md-4">
    <div class="card" style="width: 20rem;">
    <img src="../../../assets/img/fotosautomotriz.jpeg" class="card-img-top" alt="..."style="height: 200px; object-fit: cover;">
    <div class="card-body">
      <p class="card-text">Transparencia en Precios y Servicios.</p>
      <p>Proporcionamos presupuestos claros y desglosados antes de iniciar cualquier trabajo, sin costos ocultos. Esto incluye informar al cliente sobre los servicios necesarios y los precios de forma detallada.</p>
    
  </div> 
</div>
</div>
</div>
</div>
