.header{
    background-color: grey;
}
.content{
    background-color: rgb(206, 203, 203);
    height: 90vh;
}
.footer{
    background-color: rgb(0, 17, 255);
}

.nav-pills .nav-link {
    padding: 65px 45px; /* Aumenta el padding para hacer los enlaces más grandes */
    font-size: 18px; /* Aumenta el tamaño de la fuente */

}

.nav-pills .nav-link.active {
    background-color: #007bff; /* Color de fondo para el enlace activo */
    color: white; /* Color de texto para el enlace activo */
    padding: 60px 45px;
}

/* Estilo para los controles de formulario */
.form-control, .form-select {
    padding: 1rem; /* Aumenta el padding para que los campos sean más grandes */
    font-size: 1.1rem; /* Aumenta el tamaño de la fuente */
    border-radius: 0.5rem; /* Esquinas redondeadas */
}

.navbar-logo {
    width: 150px; /* Ajusta el tamaño según tus necesidades */
    transition: transform 0.3s ease, opacity 0.3s ease; /* Suaviza la transformación y la opacidad */
    opacity: 1; /* Opacidad inicial */
}

.navbar-logo:hover {
    transform: scale(1.1); /* Aumenta el tamaño al pasar el mouse */
    opacity: 0.8; /* Reduce la opacidad para un efecto sutil */
}

.navbar-logo:active {
    transform: scale(0.95); /* Efecto al hacer clic */
}